{% extends 'admindemo.html' %}

    {% block content %}
    {% load static %}

                <!-- Table Start -->
                <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">

                    <div class="row ">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Coupon Table</h6>
                                <a href="{% url 'add_coupons' %}" type="button" class="btn btn-success">Add Coupon</a>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Coupon Name</th>
                                            <th scope="col">Coupon Offers</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for coupons in coupons %}

                                        <tr>
                                            <th scope="row">{{coupons.id}}</th>
                                            <td>{{coupons.c_name}}</td>
                                            <td>{{coupons.c_off}}</td>
                                            <td>{{coupons.c_description}}</td>
                                        
                                        </tr>
                                        
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--Table end-->

    <script>
        function canclecoupon(id){
            swal({
                title: "Are you sure?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
              })
              .then((willDelete) => {
                if (willDelete) {
                  swal("Cancle Coupon ", {
                    icon: "success",
                  });
                  
                  $.ajax({
                    url : '/ordercancle',
                    type : 'GET',
                    data : {
                        'id' : id
                    },
                    success : function(data){
                        console.log(data.cancle)
                        location.href = ''
                    }
                  })
                }
              });
        }
    </script>

    {% endblock %}