{% extends 'admindemo.html' %}

    {% block content %}
    {% load static %}

                <!-- Table Start -->
                <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">

                    <div class="row ">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Product Table 
                                    <a href="{% url 'add_product' %}" type="button" class="btn btn-success">Add Product</a></h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Product Price</th>
                                            <th scope="col">Product Image</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Admin Control</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for productitems in product_details %}

                                        <tr>
                                            <th scope="row">{{productitems.id}}</th>
                                            <td>{{productitems.product_name}}</td>
                                            <td>{{productitems.product_price}}</td>
                                            <td><img src="{{productitems.product_image.url}}" width = '100px' height = '100px'></td>
                                            <td>{{productitems.Cutegory_id}}</td>
                                            <td>
                                                <a href="{% url 'edit_product' productitems.id %}" type="button" class="btn btn-warning">edit</a>
                                                <a style="cursor:pointer" onclick = "deleteproduct({{productitems.id}})" type="button" class="btn btn-danger">delete</a>
                                            </td>
                                        </tr>
                                        
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--Table end-->

    
                
    <hr><br><br>
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center">
    {% if product_details.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{product_details.previous_page_number}}">Previous</a></li>
    {% endif %}
    <li class="page-item disabled"><a class="page-link">page {{product_details.number}} of {{product_details.paginator.num_pages}}</a></li>
    {% if  product_details.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{product_details.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{product_details.paginator.num_pages}}">Last &raquo</a></li>
    {% endif %}
        </ul>
      </nav>


    {% endblock %}
